In [5]:
string = 'Hello World'
iterObj = iter(string)

while True:
    try:
        char1 = next(iterObj)
        print(char1)
    except StopIteration:
        break

H
e
l
l
o

W
o
r
l
d

In [7]:
import json

# JSON String:
colors =  '["Red", "Yellow", "Green", "Blue"]'

# JSON string to python dictionary:
lst1 = json.loads(colors)
print(lst1)

['Red', 'Yellow', 'Green', 'Blue']

In [8]:
import json

# python dictionary
lst1 = ['Red', 'Yellow', 'Green', 'Blue']

# Convert Python dict to JSON
jsonObj = json.dumps(lst1)
print(jsonObj)

["Red", "Yellow", "Green", "Blue"]

In [9]:
import json

print(json.dumps(22))               #integer
print(json.dumps(6.022))            #float
print(json.dumps("Hello World"))    #string
print(json.dumps(True))             #True
print(json.dumps(False))            #False
print(json.dumps(None))

22
6.022
"Hello World"
true
false
null

In [11]:
import calendar

print(calendar.month(2024, 3))

     March 2024
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31